.header__logo {
  max-width: 142px;
  padding: 0 0 41px 0;
  }

@media screen and (max-width: 950px) {
  .header__logo {
    margin-left: 27px;
  }
}

@media screen and (max-width: 400px) {
  .header__logo {
    max-width: 104px;
    max-height: 25px;
    padding: 0 0 32px 0;
  }
}