.profile__info {
  display: flex;
  gap: 30px;
}

@media screen and (max-width: 597px) {
  .profile__info {
    flex-direction: column;
 }
}

@media screen and (max-width: 350px) {
  .profile__info {
    gap: 26px;
}
}