.header {
  max-width: 880px;
  width: 100%;
  border-bottom: 1px solid rgba(84, 84, 84, 0.5);
  margin: 0 auto 40px;
  box-sizing:padding-box;
}

@media screen and (max-width: 400px) {
  .header {
    margin-bottom: 42px;
  }
}