.popup__name {
  max-height: 14px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin: 54px 0 0 0;
  padding: 0 0 13px 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 550px) {
  .popup__name {
    margin-top: 75px;
  }
}