.profile__text {
  max-width: 336px;
  display: grid;
  grid-template-columns: 1fr 24px;
  gap: 16px 18px;
  align-self: center;
}

@media screen and (max-width: 597px) {
  .profile__text {
    margin-left: 38px;
    gap: 14px 10px;
  }
}