.elements__like {
  background-image: url(../../../images/like.svg);
  background-repeat: no-repeat;
  width: 22px;
  height: 19px;
  padding: 0;
  object-fit: contain;
  align-self: center;
  border: none;
  /*вместо стрелки указатель*/
  cursor: pointer;
  /*задаем прозрачный фон*/
  background: transparent;
}

.elements__like:hover {
  
}
  