.popup__container {
  max-width: 430px;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-self: center;
  position: relative;
  box-sizing: border-box;
  padding: 0 36px;    
}

@media screen and (max-width: 550px) {
  .popup__container {
    max-width: calc(100% - 38px);
    padding: 0 22px;
    margin: 0 19px;
  }
}