.popup__save-button_disabled {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #C4C4C4;
  background-color: transparent;
  border: 1px solid #C4C4C4;
  border-radius: 2px;
  cursor: default;
}

.popup__save-button_disabled:hover {
  opacity: 1;
}